# Python cache & compiled files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environments
.env
.venv
env/
venv/
svm_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db
